@charset "utf-8";

/* -----------------------------------
-------これはfooter.cssファイルです------
------------------------------------- */

.footer {
  width: 100%;
  padding-top: 40px;
  text-align: center;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.11em;
  line-height: 1.6em;
}

.footer-logo {
  display: inline-block;
  width: 70%;
}

.footer-nav {
  display: inline-block;
  padding-top: 5px;
  text-align: left;
}

.footer-nav-item,
.nav-item-shop {
  padding-top: 15px;
}

.nav-item-shop {
  margin-left: 26px;
}

.nav-item-shop::before {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid var(--white-color);
  border-left: 1px solid var(--white-color);
  transform: rotate(-90deg);
}

.footer-twi-window {
  display: none;
}

.footer-sns {
  display: flex;
  padding: 20px 0px 30px;
  justify-content: center;
}

.footer-sns-item {
  width: 30px;
  height: 30px;
}

.footer-sns-item:nth-child(even) {
  margin: 0 8px;
}

.copyright-wrap {
  padding: 20px 0;
}

.copyright {
  font-weight: bold;
}

/* -------------------------
--------タブレット版---------
---------------------------- */

@media screen and (min-width: 600px) {
  .footer {
    padding-top: 40;
    font-size: 15px;
  }

  .footer-logo {
    display: inline-block;
    width: 50%;
  }

  .footer-sns-item:nth-child(even) {
    margin: 0 20px;
  }
}

/* -------------------------
---------pc版---------------
---------------------------- */

@media screen and (min-width: 1025px) {
  .footer {
    font-size: 18px;
  }

  .footer-flex-pc {
    display: flex;
    max-width: 1500px;
    padding: 40px 45px 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }

  .footer-logo,
  .footer-twi-window {
    width: 30%;
  }

  .footer-nav {
    max-width: 300px;
  }

  .nav-item-shop {
    margin-left: 40px;
  }

  .footer-sns-item {
    width: 42px;
    height: 42px;
  }

  .footer-sns-item:nth-child(even) {
    margin: 0 40px;
  }

  .footer-twi-window {
    display: block;
  }

  .copyright-wrap {
    padding: 5px;
    background-color: #0f0447;
  }
} /* メディアクエリ終わり */

/* ------------------------
-------TOPへ戻るボタン------
-------------------------- */

.js-scroll-top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: var(--btn-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--white-color);
  line-height: 50px;
  text-align: center;
}

.js-scroll-top:hover {
  cursor: pointer;
  opacity: 0.7;
}

#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------下に下がる動き----------*/

#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

/* ------------------------
--------検索フォーム---------
-------------------------- */

.search-form-tab {
  width: 100px;
  height: 30px;
  padding-top: 5px;
  border-radius: 10px 10px 0 0;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--white-color);
  color: var(--txt-color);
}

/* ----------検索フォーム動き--------- */

.searchForm-js {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 290px; /*ナビが出現した時の高さ*/
  /*動き*/
  transition: all 0.6s;
}

.searchForm-js {
  bottom: -260px; /*タグだけ見えるようにフォームを隠す*/
  width: 100%;
  color: var(--txt-color);
}

.searchForm-js.panelactive {
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .searchForm-js {
    height: 300px;
  }

  .searchForm-js {
    bottom: -270px;
  }
}

/* ----------検索フォーム装飾--------- */

.search-form {
  height: 280px;
  padding: 0 20px;
  background-color: var(--white-color);
}

.search-form-pc {
  display: none; /* pc版レイアウトを隠す */
}

.search-form-sp {
  margin: 0 auto;
  border-spacing: 10px 20px;
}

.footer-select-th {
  padding-right: 30px;
  font-size: 14px;
}

.footer-select-td {
  margin-top: 10px;
  outline: 1px solid var(--pkz-color);
  text-align: left;
}

.search-form-ul {
  width: 100%;
  padding-bottom: 30px;
  padding-left: 30px;
  text-align: left;
}

.search-form-tag {
  display: inline-block;
  padding: 2px;
  font-weight: bold;
}

.search-form-btn {
  padding: 10px 25px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: bold;
}

/* -------検索フォームタブレット版----------*/

@media screen and (min-width: 600px) {
  .footer-select-th {
    padding-right: 80px;
    font-size: 16px;
  }

  .search-form-ul {
    width: 100%;
    padding: 0 10px 20px 100px;
    text-align: left;
    font-size: 16px;
  }
}

.search-form-btn {
  margin-bottom: 30px;
}

/* -------検索フォームPC版----------*/

@media screen and (min-width: 1025px) {
  .search-form-sp {
    display: none; /* sp版レイアウトを隠す */
  }

  .searchForm-js {
    height: 200px;
    bottom: -170px;
  }

  .form-pc-flex {
    display: flex;
    max-width: 1500px;
    justify-content: space-around;
    padding: 20px 0 20px;
    margin: 0 auto;
  }

  .search-form-pc {
    display: block;
  }

  .footer-select-th {
    padding-right: 5px;
    padding-left: 15px;
    font-size: 16px;
  }

  .search-form-ul {
    width: 50%;
    padding: 0;
  }
}
