@charset "utf-8";

/* -----------------------------------
-------これはfront-page.cssファイルです------
------------------------------------- */

/* 11/17 青柳
いじったところ：左右の余白パディング、徳島の麺事情ボタンの表記、ジャンボトロンレスポンシブ、特集レスポンシブ（突貫なので気に入らなければ直してください） */

/* -------------------------
-------ページ共通--------
---------------------------- */

h2 {
  text-align: center;
}

.home-section {
  padding: 40px 0px;
}

.btn-blue {
  border-radius: 20px;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .home-intro {
    padding: 40px 20% 40px;
  }
}

@media screen and (min-width: 1025px) {
  .home-section {
    padding: 80px 0px;
  }
}

/* -------------------------
-------ジャンボトロン--------
---------------------------- */

.section-mv {
  position: relative;
  height: 80vh;
  background-image: url(../img/mv.JPG);
  background-size: cover;
}

/* div */
.mv-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  transform: translate(-50%, -50%);
}

.mv-logo-img {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .mv-logo {
    width: 450px;
  }
}

/* -------------------------
-------inntoro--------
---------------------------- */

.home-intro {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  background-color: var(--sub-color);
}

.catchcopy {
  text-align: left;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: var(--txt-cplor);
  display: inline-block;
  margin: 0 auto;
  font-feature-settings: "palt";
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

.catchcopy-bg {
  background: linear-gradient(transparent 70%, var(--title-color) 0%);
}

.home-intro-txt {
  text-align: left;
  padding: 40px 0;
  font-weight: bold;
}

.home-intro-btn {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
}

@media screen and (min-width: 1025px) {
  .home-intro-txt {
    max-width: 810px;
    padding: 120px 0;
    margin: 0 auto;
  }

  .home-intro {
    padding-top: 80px;
  }
}

/* -------------------------
-------------kind-----------
---------------------------- */

/* --------kind共通--------- */

.home-kind-ul {
  padding-top: 40px;
  width: 100%;
  height: 630px;
}

.home-kind-item {
  position: relative;
  max-width: 600px;
  height: 33%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.home-kind-link,
.home-model-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-kind-btn {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--white-color);
}

.home-kind-title {
  font-size: 14px;
}

.home-kind-txt {
  width: 100%;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 1.2em;
  color: var(--white-color);
  font-weight: bold;
}

/* --------tarai------------- */

.home-kind-tarai {
  text-align: left;
  background-image: url(../img/bg_front_tarai.jpg);
}

.kind-tarai-cnt {
  padding-left: 15px;
  transform: translateY(40px);
}

/* --------naruto------------ */

.home-kind-naru {
  text-align: right;
  background-image: url(../img/bg_front_naru.jpg);
}

.kind-naru-cnt {
  transform: translate(-10px, 70px);
}

/* --------honkaku--------- */

.home-kind-honkaku {
  text-align: center;
  background-image: url(../img/bg_front_honkaku.jpg);
}

.kind-honkaku-cnt {
  transform: translateY(90px);
}

/* ----------pc版kindレイアウト---------------*/

@media screen and (min-width: 1025px) {
  .home-kind-ul {
    height: auto;
    padding: 100px 100px 0;
  }

  .home-kind-item {
    max-width: 70%;
    height: 400px;
    margin: 10px 0;
  }

  .home-kind-naru {
    margin-left: auto;
  }

  .home-kind-txt {
    font-size: 30px;
  }

  .kind-tarai-cnt {
    padding-left: 15px;
    transform: translateY(180px);
  }

  .kind-naru-cnt {
    transform: translate(-10px, 200px);
  }

  .kind-honkaku-cnt {
    transform: translateY(230px);
  }
}

/* -------------------------
-----------access-----------
---------------------------- */

.home-access {
  text-align: center;
}

.btn-access {
  display: inline-block;
  padding: 17px 34px;
  border-radius: 30px;
}

.home-access-title::after {
  display: inline-block;
  content: "";
  vertical-align: top;
  margin-left: 15px;
  width: 18px;
  height: 18px;
  border-top: 3px solid var(--white-color);
  border-right: 3px solid var(--white-color);
  transform: rotate(135deg);
}

.home-access-title.close::after {
  transform: rotate(-45deg);
  vertical-align: bottom;
}

/* -------access 中身---------- */

.home-access-wrap {
  display: none;
}

.home-map-img {
  height: auto;
  margin: 0 auto;
}

.access-subtitle::before {
  display: inline-block;
  content: "";
  padding-right: 10px;
  height: 15px;
  border-left: 1px solid var(--txt-color);
  transform: rotate(-40deg);
}

.access-subtitle::after {
  display: inline-block;
  content: "";
  padding-left: 10px;
  height: 15px;
  border-right: 1px solid var(--txt-color);
  transform: rotate(40deg);
}

.home-map-wrap {
  width: 100%;
  margin: 60px 0 70px;
  background-color: #ababab;
}

.traffic {
  padding-top: 30px;
}

dl {
  padding: 15px 45px 0px;
}

dl:last-of-type {
  padding-bottom: 98px;
}

dt {
  float: left;
  font-size: 12px;
}

dt::after {
  content: "";
  padding-left: 10px;
}

dd {
  padding-bottom: 15px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}

.dt-padding {
  padding: 5px 0 10px;
}

@media screen and (min-width: 600px) {
  .home-map-img {
    max-width: 600px;
  }
}

@media screen and (min-width: 1025px) {
  .home-map-img {
    max-width: 1000px;
  }
}

/* -------------------------
-----------model-----------
---------------------------- */

.home-model {
  position: relative;
  height: 250px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  background-image: url(../img/bg_front_model.jpg);
  background-size: cover;
  color: var(--white-color);
}
@media screen and (min-width: 600px) {
  .home-model {
    margin: 80px 100px;
    height: auto;
  }
}

.home-model-txt {
  text-align: left;
  padding: 16px 20% 0;
}

.home-btn-model {
  margin-top: 30px;
}

/* -------------------------
-----------special-----------
---------------------------- */

.home-spe {
  padding-left: 30px;
  padding-right: 30px;
  background-image: url(../img/bg_front_spe.jpg);
  background-size: contain;
}

.home-spe-ul {
  display: flex;
  height: auto;
  margin: 24px 0 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-spe-item {
  width: 47%;
  height: auto;
  padding-top: 15px;
}

.home-spe-img {
  height: auto;
}

@media screen and (min-width: 600px) {
  .home-spe {
    padding-left: 100px;
    padding-right: 100px;
  }

  .home-spe-ul {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  .home-spe-item {
    width: 40%;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .home-spe-ul {
    max-width: 1520px;
    justify-content: space-between;
  }

  .home-spe-item {
    width: 20%;
  }
}

.background {
  position: relative;
  background-image: url(../img/publicdomainq-0032457zuu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
