@charset "utf-8";

/* -----------------------------------
-------これはfront-page.cssファイルです------
------------------------------------- */

/* -------------------------
-------ページ共通--------
---------------------------- */

h2 {
  text-align: center;
}

.home-section {
  padding: 40px 0px;
}

.btn-blue {
  border-radius: 20px;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .home-intro {
    padding: 40px 20% 40px;
  }
}

@media screen and (min-width: 1025px) {
  .home-section {
    padding: 80px 0px;
  }

  .btn-blue {
    font-size: 25px;
  }
}

/* -------------------------
-------ジャンボトロン--------
---------------------------- */

.section-mv {
  position: relative;
  height: 100vh;
  /* background-image: url(../img/MVtest.jpg); */
  background-size: cover;
}

.mv-img {
  position: absolute;
  height: 100%;
  /* width: 100%;
  top: 0;
  left: 0;
  object-fit: cover; */
}

/* div */
.mv-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.5);
  width: 240px;
  transform: translate(-50%, -50%);
}

.mv-logo-img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .mv-logo {
    width: 300px;
  }
}

@media screen and (min-width: 1025px) {
  .mv-logo {
    width: 450px;
  }
}

/* スクロール */

.scrolldown2 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 100px;
  left: 50%;
}

/*Scrollテキストの描写*/
.scrolldown2 span {
  /*描画位置*/
  position: absolute;
  left: 10px;
  bottom: 10px;
  /*テキストの形状*/
  color: var(--txt-color);
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--txt-color);
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

/* 線の描写 */
.scrolldown2:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background-color: var(--txt-color);
}

/* -------------------------
-------intro--------
---------------------------- */

.home-intro {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  background-color: var(--sub-color);
}

.catchcopy {
  text-align: left;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: var(--txt-cplor);
  display: inline-block;
  margin: 0 auto;
  font-feature-settings: "palt";
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

.catchcopy-bg {
  background: linear-gradient(transparent 70%, var(--title-color) 0%);
}

.home-intro-txt {
  text-align: left;
  padding: 40px 0;
  font-weight: bold;
}

.home-intro-btn {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
}

@media screen and (min-width: 1025px) {
  .home-intro-txt {
    max-width: 810px;
    padding: 120px 0;
    margin: 0 auto;
  }

  .catchcopy {
    text-align: center;
  }

  .home-intro {
    padding-top: 80px;
  }

  .home-intro-btn {
    margin-bottom: 30px;
    padding: 15px 25px;
    font-size: 25px;
  }
}

/* -------------------------
-------------kind-----------
---------------------------- */

/* --------kind共通--------- */

.home-kind-ul {
  padding-top: 40px;
  width: 100%;
}

.kind-pict {
  display: none;
}

.home-kind-item {
  position: relative;
  max-width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.home-kind-item.show:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.home-kind-link,
.home-model-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-kind-btn {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--white-color);
}

.home-kind-txt {
  width: 100%;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 1.2em;
  color: var(--white-color);
  font-weight: bold;
}

/* --------tarai------------- */

.home-kind-tarai {
  text-align: left;
  background-image: url(../img/bg_front_kind_tarai.jpg);
}

.kind-tarai-cnt {
  padding-left: 15px;
  transform: translateY(40px);
}

/* --------naruto------------ */

.home-kind-naru {
  text-align: right;
  background-image: url(../img/bg_front_kind_naru.jpg);
}

.kind-naru-cnt {
  transform: translate(-10px, 70px);
}

/* --------honkaku--------- */

.home-kind-honkaku {
  text-align: center;
  background-image: url(../img/bg_front_kind_honkaku.jpg);
}

.kind-honkaku-cnt {
  transform: translateY(90px);
}

/* ----------タブレット版kindレイアウト---------------*/

@media screen and (min-width: 600px) {
  .home-kind-item {
    height: 250px;
  }

  .kind-tarai-cnt {
    transform: translateY(80px);
  }

  .kind-naru-cnt {
    transform: translate(-10px, 100px);
  }

  .kind-honkaku-cnt {
    transform: translateY(130px);
  }
}
/* ----------pc版kindレイアウト---------------*/

@media screen and (min-width: 1025px) {
  .section-kind-title {
    padding-top: 30px;
  }

  .home-kind-ul {
    max-width: 1500px;
    height: auto;
    padding: 30px 100px 0;
    margin: 0 auto;
  }

  .kind-item-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }

  .kind-pict {
    display: block;
    width: 30%;
  }

  .home-kind-item {
    max-width: 60%;
    width: 70%;
    height: 400px;
    margin: 60px 0;
  }

  .home-kind-naru {
    margin-left: auto;
  }

  .home-kind-txt {
    font-size: 30px;
  }

  .kind-tarai-cnt {
    padding-left: 15px;
    transform: translateY(180px);
  }

  .kind-naru-cnt {
    transform: translate(-10px, 200px);
  }

  .kind-honkaku-cnt {
    transform: translateY(230px);
  }

  .home-kind-btn {
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 25px;
  }

  /*-----------スライドショーアニメーション---------*/

  .slide-in {
    opacity: 0;
    transition: 1.5s all;
  }

  .slide-in.show {
    opacity: 1;
    transform: none;
  }

  .home-kind-tarai {
    transform: translate(200px, 0);
  }

  .home-kind-naru {
    margin-left: auto;
    transform: translate(-200px, 0);
  }

  .home-kind-honkaku {
    transform: translate(200px, 0);
  }

  .kind-pict {
    transform: translate(0, 100px);
  }
}

/* -------------------------
-----------access-----------
---------------------------- */

.home-access {
  text-align: center;
}

.btn-access {
  display: inline-block;
  padding: 17px 34px;
  border-radius: 30px;
}

.access-btn-txt::after {
  display: inline-block;
  content: "";
  vertical-align: middle;
  margin-left: 15px;
  width: 18px;
  height: 18px;
  border-top: 3px solid var(--white-color);
  border-right: 3px solid var(--white-color);
  transform: rotate(135deg);
  transition: 0.5s;
}

.btn-access.close .access-btn-txt::after {
  vertical-align: middle;
  transform: rotate(-45deg);
  transition: 0.5s;
}

@media screen and (min-width: 1025px) {
  .home-access {
    padding-top: 0;
  }
}

/* -------access 中身---------- */

.home-model:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.home-access-wrap {
  display: none;
}

.home-map-img {
  height: auto;
  margin: 0 auto;
}

.access-subtitle::before {
  display: inline-block;
  content: "";
  padding-right: 10px;
  height: 15px;
  border-left: 1px solid var(--txt-color);
  transform: rotate(-40deg);
}

.access-subtitle::after {
  display: inline-block;
  content: "";
  padding-left: 10px;
  height: 15px;
  border-right: 1px solid var(--txt-color);
  transform: rotate(40deg);
}

.home-map-wrap {
  width: 100%;
  margin: 60px 0 70px;
  background-color: #ababab;
}

.traffic {
  padding-top: 30px;
}

dl {
  padding: 15px 45px 0px;
}

dl:last-of-type {
  padding-bottom: 98px;
}

dt {
  float: left;
  font-size: 12px;
}

dt::after {
  content: "";
  padding-left: 10px;
}

dd {
  padding-bottom: 15px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}

.dt-padding {
  padding: 5px 0 10px;
}

@media screen and (min-width: 600px) {
  .home-map-img {
    max-width: 600px;
  }
}

@media screen and (min-width: 1025px) {
  .home-map-img {
    max-width: 800px;
  }

  .access-wrap-pc {
    width: 800px;
    margin: 30px auto 0;
  }

  .access-subtitle {
    font-size: 25px;
  }

  .traffic {
    padding-top: 30px;
    font-size: 20px;
  }

  dl {
    padding: 20px 0 0 20%;
  }

  dt {
    font-size: 18px;
  }

  dd {
    font-size: 18px;
    font-weight: normal;
  }

  .dt-padding {
    padding: 0;
  }
}

/* -------------------------
-----------model-----------
---------------------------- */

.home-model {
  position: relative;
  max-width: 800px;
  height: 250px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  background-image: url(../img/bg_front_model.jpg);
  background-size: cover;
  color: var(--white-color);
}

.home-model-txt {
  text-align: left;
  font-size: 18px;
}

.home-model-txt {
  padding: 16px 20% 0;
}

.home-btn-model {
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  .home-model {
    margin: 80px auto;
    height: auto;
  }

  .home-model-txt {
    text-align: center;
    font-size: 25px;
  }
}

@media screen and (min-width: 1025px) {
  .home-model {
    max-width: 1500px;
    height: 400px;
    margin: 80px auto 0;
  }
}

/* -------------------------
-----------special-----------
---------------------------- */

.home-spe {
  padding-left: 30px;
  padding-right: 30px;
  background-image: url(../img/bg_front_spe.jpg);
  background-size: contain;
}

.home-spe-ul {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 24px 0 20px;
  flex-wrap: wrap;
}

.home-spe-item {
  width: 47%;
  height: auto;
  padding-top: 15px;
}

.home-spe-item img {
  height: auto;
}

.home-spe-img {
  height: auto;
}

@media screen and (min-width: 600px) {
  .home-spe {
    padding-left: 100px;
    padding-right: 100px;
  }

  .home-spe-ul {
    max-width: 620px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

  .home-spe-item {
    width: 40%;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .home-spe-ul {
    max-width: 1520px;
    justify-content: space-between;
  }

  .home-spe-item {
    width: 20%;
  }
}

.background {
  position: relative;
  background-image: url(../img/publicdomainq-0032457zuu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
