@charset "utf-8";

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: var(--main-color);
}

.header-sp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-pc {
  display: none;
}

.header-fav-btn {
  width: 40px;
  height: 40px;
  margin: 3px 5px 0;
  text-align: center;
}

.mypage-text {
  color: var(--white-color);
  font-size: 5px;
  font-weight: normal;
}

.header-logo-wrap {
  width: 50%;
}

/*------------------------------------------
-------------ハンバーガーボタンの動き----------
----------------------------------------------*/

.openbtn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

/*ボタン内側*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0; /*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/* --------sp版ハンバーガー中身---------- */

.hamburger-inner-nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: left;
  transform: translateX(100%);
  transition: 0.5s;
  /* transform: translateX(1025px); */
}

.nav-sp-ul {
  height: 75vh;
}

.nav-sp-item {
  height: 14.2%;
  padding-left: 30%;
  border-top: 2px solid #707070;
  font-size: 18px;
  line-height: 3.7em;
}

.nav-sp-shop {
  padding-left: 35%;
}

.nav-sp-shop::before {
  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  margin-right: 6px;
  vertical-align: middle;
  border-top: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  transform: rotate(45deg);
}

.snsul-sp-title {
  display: block;
  height: 20px;
  padding-left: 5%;
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 0.2em;
  background-color: var(--main-color);
  color: var(--white-color);
}

.hamburger-sns-ul {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

.sp-sns-item {
  width: 35px;
  height: 35px;
}

.sp-sns-item:nth-of-type(even) {
  margin: 0 50px;
}

.fadeIn {
  transform: translateX(0);
}

/* --------------------------------------
-----------タブレット版ヘッダー------------
---------------------------------------- */

@media screen and (min-width: 600px) {
  .header-sp {
    height: 50px;
  }

  .header-fav-btn {
    width: 50px;
    height: 50px;
    margin: 3px 5px 0;
    text-align: center;
  }

  .header-logo-wrap {
    text-align: center;
  }

  .header-logo-img {
    max-width: 330px;
    max-height: 50px;
  }
}

/* --------------------------------------
-------------pc版ヘッダー-----------------
---------------------------------------- */

@media screen and (min-width: 1025px) {
  .header-sp,
  .hamburger-inner-nav {
    display: none;
  }

  .header-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
  }

  .header-logo-wrap {
    width: 215px;
    height: 30px;
    /* padding-right: 300%; */
  }

  .nav-pc-ul {
    display: flex;
    align-items: center;
    color: var(--white-color);
  }

  .nav-pc-item {
    padding-right: 45px;
  }

  .header-fav-btn {
    width: 50px;
    height: 50px;
    margin: 3px 5px 0;
    text-align: center;
  }
}
