@charset "utf-8";

/*----- p(本文) -----*/
.bold {
  font-weight: 700;
  padding-top: 40px;
}
@media screen and (min-width: 1025px) {
  .bold {
    font-size: 20px;
    padding-top: 40px;
  }
}

.bold:nth-last-of-type(1) {
  padding-bottom: 60px;
}
@media screen and (min-width: 1025px) {
  .bold:nth-last-of-type(1) {
    padding-bottom: 130px;
  }
}

/*----- センタライズのp(なるちゅる、たらい内) -----*/
.bold-2 {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  padding: 60px 42px 10px 50px;
  font-feature-settings: "palt";
  letter-spacing: 0.15em;
}
@media screen and (min-width: 1025px) {
  .bold-2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .bold-2 br {
    display: none;
  }
}

.h3-font {
  color: var(--main-color);
  text-align: center;
  font-size: 18px;
  padding: 40px 0 10px;
}
@media screen and (min-width: 1025px) {
  .h3-font {
    font-size: 30px;
    padding: 100px 0;
  }
}

/*----- ボタン -----*/
.btn-blue {
  border-radius: 20px;
  padding: 9px 15px;
  margin: 10px 0 75px;
}
@media screen and (min-width: 1025px) {
  .btn-blue {
    padding: 15px 45px;
  }
}

/*----- 矢印 -----*/
.noodle-arrow-img-wrap {
  width: 15px;
  height: 45px;
  margin: 40px auto;
}
.noodle-arrow-img {
  width: 100%;
}
/* @media screen and (min-width: 1025px) {
  .noodle-arrow-img-wrap {
    width: 20px;
  }
} */

/*-------------------------------------*/
/* ----------トップイメージ -----------*/
/*-------------------------------------*/

.noodle-top-img-wrap {
  height: 248px;
}
@media screen and (min-width: 1025px) {
  .noodle-top-img-wrap {
    height: 450px;
  }
}

.noodle-top-img {
  height: 100%;
}

/*---------------------------------------*/
/*----------- noodle-intro --------------*/
/*--(徳島の麺類事情～うれしいです。まで)--*/
/*--------------------------------------*/

.noodle-intro {
  padding: 0 45px;
  font-size: 18px;
  /* font-weight: 700; */
}
@media screen and (min-width: 600px) {
  .noodle-intro {
    padding: 0 20%;
  }
}
@media screen and (min-width: 1024px) {
  .noodle-intro-wrap {
    display: flex;
  }
}

/*----- タイトル -----*/
.noodle-intro .h2-font {
  text-align: center;
  padding: 35px 0 30px;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1025px) {
  .noodle-intro .h2-font {
    padding: 50px 0 30px;
  }
}
.noodle-intro .line-bg {
  background: linear-gradient(transparent 70%, rgb(243, 158, 101) 0%);
}

/*----- 徳島きりぬき画像 -----*/
.noodle-tokushima-img-wrap {
  min-height: 200px;
}
@media screen and (min-width: 1025px) {
  .noodle-tokushima-img-wrap {
    height: 320px;
    margin: 110px 40px 10px;
  }
}

.noodle-tokushima-img {
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .noodle-tokushima-img {
    height: auto;
  }
}

/*----- 本文 -----*/
.noodle-intro .bold {
  color: #0f447c;
}

/*-------------------------------------*/
/*----------- noodle-about ------------*/
/*-----(飾り画像～紹介します。まで)-----*/
/*-------------------------------------*/

.noodle-about .bold {
  padding: 20px 45px;
}
.noodle-about .bold:nth-last-of-type(1) {
  padding-bottom: 50px;
}
@media screen and (min-width: 600px) {
  .noodle-about .bold {
    padding: 20px 20%;
  }
  .noodle-about .bold:nth-last-of-type(1) {
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .noodle-about .bold {
    text-align: center;
  }
}

/*----- 飾り画像 -----*/
.noodle-deco-img-wrap {
  height: 307px;
  padding: 20px 0;
}
.noodle-deco-img {
  height: 100%;
}
@media screen and (min-width: 600px) {
  .noodle-deco-img-wrap {
    margin: 0 20%;
  }
}
/*---------------------------------*/
/*--------- なるちゅる説明 ----------*/
/*---------------------------------*/
.noodle-naruchuru {
  text-align: center;
}
.noodle-naruchuru-wrap {
  padding: 0 45px;
  text-align: left;
  background: url(../img/IMG_1304.jpg);
  background-size: cover;
  /* ↓ 同じく背景画像の透過風加工 */
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}
@media screen and (min-width: 600px) {
  .noodle-naruchuru-wrap {
    padding: 0 20%;
  }
}

/*---------------------------------*/
/*----------- たらい説明 ----------*/
/*---------------------------------*/
.noodle-tarai {
  text-align: center;
}
.noodle-tarai-wrap {
  padding: 0 45px;
  text-align: left;
  background: url(../img/IMG_1304.jpg);
  background-size: cover;
  /* ↓ 背景画像の透過風加工です、正規の画像に差し替え次第削除 */
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}
@media screen and (min-width: 600px) {
  .noodle-tarai-wrap {
    padding: 0 20%;
  }
}
/*---------------------------------*/
/* ---------- はしやすめ --------- */
/*---------------------------------*/

.noodle-kind {
  width: 100%;
  padding: 40px 0 60px;
  overflow: hidden;
  background-color: var(--main-color);
  margin: 0 auto;
}
.noodle-kind .h3-font {
  color: var(--white-color);
  padding: 10px 0 30px;
}

/*吹き出し(バルーン)のアウトライン*/
.bln {
  width: 100%;
  margin: 15px auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* @media (max-width: 480px) {
  .bln {
    padding: 10px;
  }
} */

/* 左右アイコンのイメージサイズと配置 */
.bln:before {
  content: "";
  width: 70px;
  height: 70px;
  background: no-repeat left center / contain;
  /* display: inline-block; */
}

/* @media (min-width:480px) {
	.bln:before {
    width: 90px;
    height: 90px;
	}
} */

/* 左アイコンのイメージ配置 画像100~200pxくらいでok */
.bln:before {
  background-image: url(../img/neko.PNG);
  border-radius: 50%;
  margin-left: 20px;
}

/* 吹き出し中の文章アウトライン */
.says {
  position: relative;
  margin: 0 10px 0 25px;
  max-width: calc(100% - 135px);
  padding: 0.6rem 1.1rem;
  border: solid 2px var(--white-color);
  border-radius: 1.2rem;
  background-color: var(--white-color);
}
/* @media (max-width: 480px) {
  .says {
    max-width: calc(100% - 170px);
    margin: 1rem;
  }
} */

/* 吹き出し口 尖ってるところのあしらい */
.says::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  margin-top: -8px;
  border: 8px solid transparent;
  border-right: 10px solid var(--white-color);
  z-index: 2;
}
.says::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -21px;
  margin-top: -9px;
  border: 9px solid transparent;
  border-right: 12px solid var(--white-color);
  z-index: 1;
}

/*吹き出内の調整用*/
.says-txt {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
