@charset "utf-8";
/* プロパティの順番を整えました！ */
/*-----------------------
        トップの画像
 ----------------------*/

.page-header {
  position: relative;
  width: 100%;
}

.page-header-img {
  /* height: 113px; */
  filter: brightness(50%);
}

.top-img-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.blog-cont {
  padding: 0 45px 0;
}
/* タブレット以上 */
@media screen and (min-width: 600px) {
  .blog-cont {
    padding: 0 20% 0;
  }
}

/*-------------------
        コンテンツ
 -------------------*/
.single-blog-cont-wrap {
  padding: 20px 45px 0;
}

/* タブレット以上 */
@media screen and (min-width: 600px) {
  .single-blog-cont-wrap {
    padding: 60px 20% 0;
  }
}

/*------- タイトル・ライター -----------*/
.single-blog-writer-wrap {
  display: flex;
  margin-bottom: 37px;
}

.icon,
.icon-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.icon {
  margin: 15px 10px 0;
}

.writer-text {
  margin: 10px 0;
}

.day,
.writer-name {
  font-size: 14px;
  line-height: 1.57;
}

@media screen and (min-width: 1025px) {
  .icon,
  .icon-img {
    width: 70px;
    height: 70px;
  }

  .writer-text {
    margin: 15px 0;
  }

  .day,
  .writer-name {
    font-size: 20px;
  }
}

/*---------------
 ----記事内容----
 ---------------*/
.article-wrap img {
  width: auto;
  height: auto;
}

.cont-img {
  margin: 40px 0;
}

.cont-tag {
  margin: 40px 0;
  text-align: right;
}

.cont-tag-txt {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}

/* オレンジボタン */
.btn-orange {
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 14px;
}

/*---------------------------
------リンクアイコン一覧------
---------------------------*/

.sns-btn-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-top: 30px;
  align-items: center;
}

/* ---------お気に入りボタン---------- */
.shop-good {
  width: 85px;
  height: 30px;
}
.shop-good-btn {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(32, 32, 32);
  border-radius: 5px;
  color: gray;
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .sns-btn-wrap {
    max-width: 800px;
    margin-top: 60px;
    justify-content: space-around;
  }
  /* .shop-sns {
    width: 52px;
    height: 53px;
  } */
  .shop-good {
    width: 203px;
    height: 47px;
  }
  .shop-good-btn {
    font-size: 21px;
  }
}
/* ----------一覧に戻るボタン----------- */
.shop-archiveback {
  text-align: center;
}
/* --------店舗一覧に戻るボタン------- */
.shop-archiveback-btn {
  width: 177px;
  height: 49px;
  font-size: 12px;
  margin: 30px auto 40px;
}

@media screen and (min-width: 1025px) {
  .shop-archiveback-btn {
    width: 315px;
    height: 60px;
    font-size: 20px;
  }
}

/* --------おすすめ記事------- */
.news_meta,
.news_title {
  line-height: 2;
}

.news_title {
  font-size: 20px;
}
