@charset "utf-8";
/* プロパティの順番を整えました！ */
/*-----------------------
        トップの画像
 ----------------------*/

.page-header {
  position: relative;
  width: 100%;
}

.page-header-img {
  height: 113px;
  filter: brightness(50%);
}

.top-img-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media screen and (min-width: 1025px) {
  .page-header-img {
    height: 304px;
  }
}

/*-------------------
        コンテンツ
 -------------------*/
.single-blog-cont-wrap {
  padding: 20px 45px 0;
}

/* タブレット以上 */
@media screen and (min-width: 600px) {
  .single-blog-cont-wrap {
    padding: 60px 20% 0;
  }
}

/*------- タイトル・ライター -----------*/
.single-blog-writer-wrap {
  display: flex;
  margin-bottom: 37px;
}

.icon,.icon-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.icon {
  margin: 15px 10px 0;
}

.writer-text {
  margin: 10px 0;
}

.day,.writer-name {
  font-size: 14px;
  line-height: 1.57;
}

@media screen and (min-width: 1025px) {
  .icon,.icon-img {
    width: 70px;
    height: 70px;
  }

  .writer-text {
    margin: 15px 0;
  }

  .day,.writer-name {
    font-size: 20px;
  }
}

/*---------------
 ----記事内容----
 ---------------*/
.cont-img {
  margin: 40px 0;
}

.cont-tag {
  margin: 40px 0;
  text-align: right;
}

.cont-tag-txt {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}

/* オレンジボタン */
.btn-orange {
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 14px;
}

/*---- いいね・sns ----*/
.share {
  display: flex;
  padding: 20px 0;
}

.good {
  width: 80px;
  height: 25px;
  border: 1px solid rgb(32, 32, 32);
  border-radius: 5px;
  /* color: rgb(238, 63, 92); */
  color: gray;
  font-size: 12px;
  text-align: center;
}

.twi,
.fb,
.insta {
  width: 20px;
  margin-left: 15px;
}

/* タブレット版 */
@media screen and (min-width: 600px) {
.good{
  width: 150px;
  height: 35px;
  font-size: 15px;
}

.twi,
.fb,
.insta {
  width: 35px;
}
}

/* pc版 */
@media screen and (min-width: 1025px) {
  .cont-img {
    margin: 50px 0;
  }

  .cont-tag {
    margin: 100px 0 60px;
  }

  .cont-tag-txt {
    margin-bottom: 20px;
    font-size: 18px;
  }

  /*--- オレンジボタン ---*/
  .shop-detail-btn {
    text-align: center;
  }

  .btn-orange {
    width: 350px;
    height: 55px;
    margin-bottom: 60px;
    font-size: 21px;
  }

  /*---- いいね・sns -----*/
  .share {
    padding-top: 0;
  }

  .good {
    width: 203px;
    height: 47px;
    font-size: 20px;
  }

  .twi,
  .fb,
  .insta {
    width: 50px;
  }
}

/*------------------
----おすすめ記事----
-------------------- */
.recom-wrap {
  padding: 40px 45px 48px;
  background-color:var(--sub-color);
}

.recom-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recom-title {
  margin-bottom: 40px;
  text-align: center;
}

.recom-title-p {
  font-weight: bold;
}

.recom-article {
  width: 100%;
  margin-bottom: 20px;
}

.article-link{
  display: inline-block;
}

.recom-article-img {
  position: relative;
  margin-bottom: 5px;
}

/* アイキャッチ（画像についてるタグ） */
.recom-eye {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: #779a34;
  color: rgb(253, 253, 253);
  font-size: 10px;
}

.recom-good {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: var(--white-color);
  /* color: rgb(238, 63, 92); */
  font-size: 30px;
}

.recom-article-title {
  margin-bottom: 3px;
}
.recom-article-txt {
  font-size: 12px;
}

/* タブレット版 */
@media screen and (min-width: 600px) {
  .recom-wrap {
    padding: 110px 20%;
  }
}

/* pc版 */
@media screen and (min-width: 1025px) {
  .recom-title {
    margin-bottom: 100px;
  }

  .recom-article {
    width: 49%;
    margin-bottom: 40px;
  }

  .recom-article-last {
    width: 100%;
  }

  .recom-eye {
    font-size: 25px;
  }

  .recom-good {
  font-size: 50px;
}

  .recom-article-txt {
    font-size: 1em;
  }
}
